In [2]:
# 라이브러리 로드
import pandas as pd

In [3]:
# csv 폴더 안에 있는 corona.csv 파일 로드
# 상대경로
# 현재 경로(./) -> 상위 디렉토리 이동(../) -> 하위 csv 디렉토리로 이동(csv/) -> corona.csv
corona = pd.read_csv(
    "./../csv/corona.csv"
)

In [4]:
# 로드가 된 외부 데이터 파일의 정보를 확인
# 상위 n개의 데이터를 출력
corona.head()

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [5]:
# 데이터에서 하위 n개를 출력
corona.tail()

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
815,815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [6]:
# 데이터프레임의 전체적인 구조 파악
corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  820 non-null    int64
 1   createDt    820 non-null    object
 2   deathCnt    820 non-null    int64
 3   decideCnt   820 non-null    int64
 4   seq         820 non-null    int64
 5   stateDt     820 non-null    int64
 6   stateTime   820 non-null    object
 7   updateDt    817 non-null    object
 8   accExamCnt  692 non-null    float64
 9   accDefRate  623 non-null    float64
dtypes: float64(2), int64(5), object(3)
memory usage: 64.2+ KB

In [7]:
# 각 컬럼별로 결측치의 개수가 몇개인가?
# 결측치인가? (isna()) ->
# 합산 ( sum() -> DataFrame앙ㅔ 있는 함수)
corona.isna().sum()

Unnamed: 0      0
createDt        0
deathCnt        0
decideCnt       0
seq             0
stateDt         0
stateTime       0
updateDt        3
accExamCnt    128
accDefRate    197
dtype: int64

In [8]:
corona.head()

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [9]:
corona.tail()

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
815,815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [10]:
# 특정 컬럼을 제거
# 제거한다.( drop )
# drop() -> 특정 행을 제거할 것인가? 열을 제거할 것인가?
# frop() -> axis = 0 | 1 -> data와 조건이 맞는 행이나 열을 제거
# Unnamed:0, seq 컬럼을 제거
corona.drop(['Unnamed: 0', 'seq'],
            axis=1,
            inplace= True)

In [11]:
# 컬럼의 이름을 변경
# DataFrame 안에 rename() 함수 이용
corona.rename(
    columns= {
        'createDt' : '등록일시',
        'deathCnt' : '종사망자',
        'decideCnt' : '총확진자',
        'stateDt' : '기준일',
        'stateTime' : '기준시간',
        'updateDt' : '수정일시',
        'accExamCnt' : '누적의심자',
        'accDefRate' : '누적확진율'
    }
)

,등록일시,종사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...
815,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [12]:
# DataFrame 안에 cloumns 변수에 데이터를 대입
# 유의할 점: 기존의 컬럼의 개수와 같은 1차원 데이터를 대입
corona.columns = ['등록일시',
                '총사망자',
                '총확진자',
                '기준일',
                '기준시간',
                '수정일시',
                '누적의심자',
                '누적확진율'
]

In [13]:
corona.head()

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [14]:
# 데이터프레임에서 정렬을 변경하는 방법
# 정렬 (sort) -> list에서는 사용이 가능
# 정렬을 변경할 수 있는 기준이 2개 -> index, values
# sort_index(), sort_values() 2개가 모두 존재
# sort_values({col_name}, ascending = {True | False}, inplcae = {False | True})
# 등록일시를 기준으로 현재는 내림차순 정렬을 오름차순 정렬로 변경

corona.sort_values(['등록일시'],
                ascending = True,
                inplace= True
)

In [15]:
# 컬럼의 순서를 오름차순 변경?
# sort() 함수가 존재x
# columns 데이터를 리스트변경 -> sort()로 데이터를 변경 -> 필터를 이용해서 순서를 변경
col_list = list(
    corona.columns
)
col_list.sort()
corona[col_list]

,기준시간,기준일,누적의심자,누적확진율,등록일시,수정일시,총사망자,총확진자
819,00:00,20200310,210144.0,3.919308,2020-03-10 00:00:00.000,2021-10-07 10:30:51.51,54,7513
818,00:00,20200311,222395.0,3.804175,2020-03-11 00:00:00.000,2021-10-07 10:30:51.51,60,7755
817,00:00,20200312,234998.0,3.621744,2020-03-12 00:00:00.000,2021-10-07 10:30:51.51,66,7869
816,00:00,20200313,248647.0,3.458499,2020-03-13 00:00:00.000,2021-10-07 10:30:51.51,67,7979
815,00:00,20200314,261335.0,3.318000,2020-03-14 00:00:00.000,2021-10-07 10:30:51.51,72,8086
...,...,...,...,...,...,...,...,...
4,00:00,20220604,NaN,NaN,2022-06-04 08:56:49.219,2022-06-08 09:11:26.303,24238,18153814
3,00:00,20220605,NaN,NaN,2022-06-05 08:53:19.426,2022-06-08 09:11:04.758,24258,18163648
2,00:00,20220606,NaN,NaN,2022-06-06 09:00:06.734,2022-06-08 09:10:50.441,24279,18168670
1,00:00,20220607,NaN,NaN,2022-06-07 09:09:00.897,2022-06-08 09:10:36.846,24299,18174842
0,00:00,20220608,NaN,NaN,2022-06-08 09:09:05.982,NaN,24305,18188200

In [16]:
# 복사본 생성 : backup -> 1차 작업이 완료하고 중간 저장
df = corona.copy()

In [17]:
# 결측치가 존재하는 컬럼이 3개 -> 수정일시, 누적의심자, 누적확진율
# 결측치가 존재하는 데이터를 확인 (수정일시)
# 수정일시 데이터 중 결측치가 존재 유무
# df 데이터프레임에서 특정 컬럼 하나를 선택 -> 2차원 데이터프레임에서 1차원 시리즈로 변경
# 인덱스의 조건식

flag = df['수정일시'].isna()

In [18]:
# 인덱스의 조건을 이용하여 데이터프레임 필터
# DataFrame.loc[인덱스의 조건, 컬럼의 조건]
# df.loc[~flag]
# 비트 연산자 '~'를 통해서 1차원 논리값의 부정 표현
# '-' 연산자를 이용하여 1차원 논리값의 부정 표현
df.loc[-flag]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
819,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
818,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
817,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
816,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
815,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...
5,2022-06-03 09:08:18.729,24229,18141775,20220603,00:00,2022-06-08 09:11:38.938,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN

In [19]:
# 누적확진율 데이터에서 결측치인 데이터만 확인
flag2 = df['누적확진율'].isna()

In [20]:
df.loc[flag2]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
196,2021-11-24 09:08:22.071,3362,425059,20211124,00:00,2021-12-02 09:06:01.826,16939923.0,NaN
195,2021-11-25 09:00:47.897,3401,428996,20211125,00:00,2021-12-02 09:06:12.94,16998733.0,NaN
194,2021-11-26 09:03:03.973,3440,432892,20211126,00:00,2021-12-02 09:06:24.138,17056003.0,NaN
193,2021-11-27 09:32:36.026,3492,436959,20211127,00:00,2021-12-02 09:06:37.327,17115754.0,NaN
192,2021-11-28 08:58:53.394,3548,440884,20211128,00:00,2021-12-02 09:06:50.152,17158535.0,NaN
...,...,...,...,...,...,...,...,...
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [21]:
# loc[조건] -> 조건뿐 아니라 값으로도 필터 가능
df.loc[198:194]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
198,2021-11-22 09:07:45.615,3298,418249,20211122,00:00,2021-11-26 09:29:38.144,16816616.0,2.778249
197,2021-11-23 08:59:47.863,3328,420946,20211123,00:00,2021-11-30 09:06:13.348,16878955.0,2.787908
196,2021-11-24 09:08:22.071,3362,425059,20211124,00:00,2021-12-02 09:06:01.826,16939923.0,NaN
195,2021-11-25 09:00:47.897,3401,428996,20211125,00:00,2021-12-02 09:06:12.94,16998733.0,NaN
194,2021-11-26 09:03:03.973,3440,432892,20211126,00:00,2021-12-02 09:06:24.138,17056003.0,NaN

In [22]:
# 인덱스를 초기화
# 초기화(reset) + 위치(index)
# reset_index() -> 인덱스를 재지정하고 기존의 인덱스를 컬럼의 데이터로 변환
# 매개변수 inplace -> 원본의 데이터를 수정할 것인가?
# 매개변수 drop -> 기존의 인덱스를 제거할 것인가?
df.reset_index(drop=True, inplace=True)

In [23]:
df

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [24]:
# 총확진자수 데이터를 이용해서 일일확진자 데이터를 생성
# 기존의 데이터를 이용하여 새로운 데이터를 생성 -> 파생변수
# 기존의 데이터만으로 설명이 불가능하거나 아니면 상관 관계가 약한경우
# 새로운 데이터를 생성해서 설명이 가능하고 상관관계를 올리수 있게 하는 방법
# 일일확진자 -> 오늘의 총확진자수 - 어제의 총확진자수
df.loc[1, '총확진자'] - df.loc[0, '총확진자']

np.int64(242)

In [25]:
df.loc[2, '총확진자'] - df.loc[1, '총확진자']
df.loc[3, '총확진자'] - df.loc[2, '총확진자']
df.loc[4, '총확진자'] - df.loc[3, '총확진자']
df.loc[5, '총확진자'] - df.loc[4, '총확진자']
#....
df.loc[819, '총확진자'] - df.loc[818, '총확진자']

np.int64(13358)

In [26]:
#  반복문을 이용하여 일일확진자수를 리스트로 생성
new_list = [0]

#반복문 시작 (데이터프레임의 길이에 -1 반복 실행)
for i in range(1, len(df)):
    # -> 1부터 819 대입하여 반복
    new_list.append(df.loc[i, '총확진자'] - df.loc[i-1, '총확진자'])
    
len(new_list)

820

In [27]:
# df에 새로운 컬러 '알일확진자'를 추가하고 데이터는 new_list 대입
# dict에서 key : value를 추가하는 형태와 같다
df['일일확진자'] = new_list
df

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일확진자
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,242
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,114
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,110
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,107
...,...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN,12039
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN,9834
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,5022
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,6172
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN,13358

In [28]:
# index를 이동하는 함수
# shift(n) -> n만큼 인덱스를 변경 n의 기본값은 1
df['일일사망자'] = df['총사망자'] - df['총사망자'].shift()

In [29]:
df

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일확진자,일일사망자
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0,NaN
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,242,6.0
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,114,6.0
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,110,1.0
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,107,5.0
...,...,...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN,12039,9.0
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN,9834,20.0
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,5022,21.0
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,6172,20.0
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN,13358,6.0

In [30]:
# 특정 시리즈 안에서의 차이를 구하는 함수
# diff()  n : 인덱수 수 만큼
df['총확진자'].diff()

0          NaN
1        242.0
2        114.0
3        110.0
4        107.0
        ...
815    12039.0
816     9834.0
817     5022.0
818     6172.0
819    13358.0
Name: 총확진자, Length: 820, dtype: float64

In [31]:
# 일일사망자의 결측치를 0으로 채워준다.
df['일일사망자'].fillna(0, inplace=True)

C:\Users\abohv\AppData\Local\Temp\ipykernel_3532\602738434.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['일일사망자'].fillna(0, inplace=True)

In [32]:
# 일일사망자, 일일확진자 데이터는 범위가 0보다 크거나 같은 데이터여야 한다.
# 비교 연산자를 이용하여 해당 데이터를 확인
flag = df['일일사망자'] < 0

In [33]:
df.loc[flag]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일확진자,일일사망자
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-430,-2.0

In [34]:
# 일일확진자가 음수인 데이터를 확인
flag - df['일일확진자'] < 0
df.loc[flag]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일확진자,일일사망자
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-430,-2.0

In [38]:
# 일일확진자, 일일사망자 두개의 컬럼을 모두 선택해서 비교
# df [['일일확진자', '일일사망자']] < 0
# flag = df [['일일확진자', '일일사망자']] < 0
# 인덱스의 조건식에 1차원 데이터 형이 아닌 2차원 데이터가 들어가면 에러가 발생
# df.loc[flag]

In [41]:
flag = (df[['일일확진자', '일일사망자']] < 0).any(axis = 1)

df.loc[flag]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일확진자,일일사망자
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-430,-2.0

In [42]:
# 446 인덱스에서 문제가 보이낟.
# 446번 인덱스부터 448번 인덱스까지 데이터를 확인
df.loc[444:448, ]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일확진자,일일사망자
444,2021-05-29 00:00:00.000,1951,139427,20210529,00:00,2021-10-07 10:30:51.51,9733588.0,1.450884,533,5.0
445,2021-05-30 00:00:00.0,1959,140337,20210531,00:00,2021-10-14 13:48:56.821,9761156.0,1.456805,910,8.0
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-430,-2.0
447,2021-06-01 00:00:00.000,1963,140796,20210601,00:00,2021-10-07 10:30:51.51,9798400.0,1.455890,889,6.0
448,2021-06-02 00:00:00.000,1965,141473,20210602,00:00,2021-10-07 10:30:51.51,9834348.0,1.457668,677,2.0

In [50]:
# 445번 인덱스의 등록일시가 잘못됨을 확인
# 445번 인덱스의 등록일시를 '2021-05-31 00:00:00.000'로 변경
# df['등록일시'][445] 
df.loc[445, '등록일시'] = '2021-05-31 00:00:00.000'

In [51]:
df.loc[444:448]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일확진자,일일사망자
444,2021-05-29 00:00:00.000,1951,139427,20210529,00:00,2021-10-07 10:30:51.51,9733588.0,1.450884,533,5.0
445,2021-05-31 00:00:00.000,1959,140337,20210531,00:00,2021-10-14 13:48:56.821,9761156.0,1.456805,910,8.0
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-430,-2.0
447,2021-06-01 00:00:00.000,1963,140796,20210601,00:00,2021-10-07 10:30:51.51,9798400.0,1.455890,889,6.0
448,2021-06-02 00:00:00.000,1965,141473,20210602,00:00,2021-10-07 10:30:51.51,9834348.0,1.457668,677,2.0

In [ ]:
# 등록일시를 기주으로 오름차순 정렬
df.sort_values(
    ['등록일시'],
    inplace = True
)

In [61]:
df.loc[444:448]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일확진자,일일사망자
444,2021-05-29 00:00:00.000,1951,139427,20210529,00:00,2021-10-07 10:30:51.51,9733588.0,1.450884,533,5.0
445,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-430,-2.0
446,2021-05-31 00:00:00.000,1959,140337,20210531,00:00,2021-10-14 13:48:56.821,9761156.0,1.456805,910,8.0
447,2021-06-01 00:00:00.000,1963,140796,20210601,00:00,2021-10-07 10:30:51.51,9798400.0,1.455890,889,6.0
448,2021-06-02 00:00:00.000,1965,141473,20210602,00:00,2021-10-07 10:30:51.51,9834348.0,1.457668,677,2.0

In [ ]:
# 인덱스를 초기화하고 기존의 인ㄷ게스를 제거
df.reset_index(drop=True, inplace= True)

In [ ]:
# '일일확진자', '일일사망자' 컬럼을 제거
df.drop(
    ['일일확진자', '일일사망자'],
    axis = 1,
    inplace = True
)

In [ ]:
# 일일확진자 컬럼은 shift() 함수를 이용하여 생성
df['일일확진자'] = df['총확진자'] - df['총확진자'].shift()

In [ ]:
# 일일사망자 컬럼은 diff() 함수를 이용하여 생성
df['일일사망자'] = df['총사망자'].diff()

In [ ]:
# 결측치 제거
df['일일확진자'].fillna(0, inplace=True)
df['일일사망자'].fillna(0, inplace=True)

C:\Users\abohv\AppData\Local\Temp\ipykernel_3532\1743963089.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['일일확진자'].fillna(0, inplace=True)
C:\Users\abohv\AppData\Local\Temp\ipykernel_3532\1743963089.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['일일사망자'].fillna(0, inplace=True)

In [ ]:
# 일일확진자, 일일사망자 컬럼의 데이터에서 음수가 존재하는지 확인
flag = (df[['일일확진자', '일일사망자']] < 0).any(axis = 1)

df.loc[flag]

Empty DataFrame
Columns: [등록일시, 총사망자, 총확진자, 기준일, 기준시간, 수정일시, 누적의심자, 누적확진율, 일일확진자, 일일사망자]
Index: []

In [ ]:
# flag에 True가 존재하지 않는다. -> 합이 0이다.
flag.sum()

np.int64(0)