In [1]:
# 라이브러리 로드
# import 라이브러리명 as 별칭
# from 라이브러리명 import 라이브러리 안에 특정 기능
import pandas as pd

In [2]:
# 1차원 데이터형인 Series 생성
series_1 = pd.Series(
    [5000, 6000, 6500, 6000]
)

In [3]:
series_1

0    5000
1    6000
2    6500
3    6000
dtype: int64

In [4]:
series_2 = pd.Series(
    ['A', 'B', 'C']
)

In [5]:
series_2

0    A
1    B
2    C
dtype: object

In [6]:
# 원소들의 타입이 다른 경우 series 생성 할 때 dtype은 어떻게 되는가?
series_3 = pd.Series(
    ['A', 10, True]
)

In [7]:
series_3

0       A
1      10
2    True
dtype: object

In [8]:
#Series 라는 class에는 적어도 2개의 변수가 존재
# 값들이 저장되어있는 values
# vlaues의 키값인 index

print("Series에서 values는 ", series_1.values)
print("Series에서 index는 ", series_1.index)

Series에서 values는  [5000 6000 6500 6000]
Series에서 index는  RangeIndex(start=0, stop=4, step=1)

In [9]:
series_1[1] = 5500

In [10]:
series_1

0    5000
1    5500
2    6500
3    6000
dtype: int64

In [11]:
series_1[5] = 6000

In [12]:
series_1.index

Index([0, 1, 2, 3, 5], dtype='int64')

In [13]:
# 인덱스의 값을 변경한다. -> Series class 내부에 존재하는 index  변수의 데이터를 다른값으로 채워준다.
series_1.index = [0, 1, 1, 2, 2]

In [14]:
series_1.index

Index([0, 1, 1, 2, 2], dtype='int64')

In [15]:
# series 안에 index를 변경하는데 values의 길이가 맞지 않는 경우
# 길이가 맞지 않는다면 에러 발생
# series_1.index = [0,1,2,3,4,5]

In [16]:
# 특정 인덱스만 병경하려고 한다
# index 타입의 데이터에서 특정 데이터를 벼녁은 함수를 이용해서 가능
# series_1.index[2] = 10

In [17]:
# 데이터프레임 생성
_vlaue = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

_index = ['a', 'b', 'c']
_cols = ['A', 'B', 'C']

df = pd.DataFrame(_vlaue, index = _index, columns = _cols)

In [18]:
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [19]:
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [20]:
# rename() 함수를 이용해서 특정 인덱스나 특정 컬럼을 변경
# df의 컬럼 중 B컬럼의 이름을 F로변경
# inplace 매개변수를 True 변경하면 df의 데이터가 변경되고 출력 X

df.rename(
    columns = {
        'B' : 'F'
    },
    inplace=True
)

In [21]:
# 복사본 생성
df2 = df.copy()

In [22]:
df2 = df2.rename (
    columns= {
    'A' : 'C'
    },
    inplace = True
)

In [23]:
df2
# inplace가 True이면 return 으로 되돌려주는 데이터가 존재하지 않는다.
# df2 = None 들어가는 형태로 df2의 데이터를 모두 제거

In [24]:
# DataFrame 안에 있는 columns 변수의 데이터를 변경
df.columns = ['name', 'age', 'loc']

In [25]:
df

   name  age  loc
a     1    2    3
b     4    5    6
c     7    8    9

#### pandas 라이브러리를 이용하여 외부의 데이터파일 로드
- csv, tsv
    - 가장 단순한 형태의 데이터 파일
    - pandas 안에 내장된 read_csv() 함수를 이용하여 로드
    - csv는 데이터를  ','를 기준으로 나눠준다.
        - read_csv()를 기본값으로 사용
    - tsv는 데이터를 '\t'기준으로 나눠준다.
        - read_csv() 함수에서 sep 매개변수에 인자값을 '\t' 대입
- json
    - 많이 사용한 데이터의 파일
    - python을 기준으로 생각하면 dict 형태와 같다
    - pandas에 있는 read_json() 함수를 이용하여 로드
- xml
    - html 구조 언어와 같이 tag를 이용하여 데이터 구성
    - pandas 안에 read_xml() 함수를 이용하여 로드 
- 공통적으로 사용이되는 매개변수
    - encoding 매개변수
        - 기본값은 'UTF-8'
        - 데이터 파일을 로드 하는데 해당 데이터에 한글이 존재할 때
        종종 에러가 발생 (decode error)
            - 'CP949', 'EUC-KR'로 매개변수에 대입 에러가 해결
        - 엑셀파일을 로드하는 함수에서는 encoding 매개변수가 존재하지 않는다.
- excel( xls, xlsx )
    - 엑셀 데이터 파일
    - pandas 안에 read_excel() 함수를 이용
    - 특정 엑셀 파일을 로드 할 때 추가적인 라이브러리를 설치 필요한 경우가 발생
        - 해당 라이브러리가 설치가 되지 않은 경우에는 에러 발생 (모듈을 찾을 수 없다.)
            - oepnpyx1 라이브러리를 설치하면 에러 해결

- read_xxx() 공통적인 부분
    - 첫 번째 인자 값 : 파일의 경로

#### 경로
- 절대 경로
    - 절대적인 주소값
    - 환경이 변하더라도 같은 위치를 언제나 지정
    - ex)
        - window -> c:/usrs/admin/document/a.txt
        - mac -> ~/Desktop/a.txt
        - url -> https://www.google.com
- 상대 경로
    - 상대적인 주소값
    - 환경이 변할 떄 위치도 같이 변한다.
    - 종류
        - ./ -> 현재 작업중인 디렉토리
        - ../ -> 상위(부모) 디렉토리로 이동
        - 디렉토리명/ -> 하위(자식) 디렉토리 이동

In [28]:
# 외부의 데이터파일 로드
# 절대 경로 사용
df = pd.read_csv(
    r"C:\python\csv\example.csv"
)

폴더의 위치가 바뀔 경우 절대 경로의 실행 유무가 결정되기 때문에 상대 경로의 이용성이 증가

In [29]:
df

  Name  Gender          Phone
0    A    male  010-1234-5678
1    B  female  010-1234-5679
2    C    male  010-1234-5680
3    D  female  010-1234-5681
4    E    male  010-1234-5682
5    F  female  010-1234-5683
6    G    male  010-1234-5684
7    H  female  010-1234-5685
8    I    male  010-1234-5686
9    J  female  010-1234-5687

In [30]:
# 상대 경로 이용
# 현재 디렉토리(./) -> 상위 디렉토리(../) -> csv라는 하위 디렉토리 이동(csv/) -> example.csv
df2 = pd.read_csv(
    "./../csv/example.csv"
)

In [31]:
df2

  Name  Gender          Phone
0    A    male  010-1234-5678
1    B  female  010-1234-5679
2    C    male  010-1234-5680
3    D  female  010-1234-5681
4    E    male  010-1234-5682
5    F  female  010-1234-5683
6    G    male  010-1234-5684
7    H  female  010-1234-5685
8    I    male  010-1234-5686
9    J  female  010-1234-5687

In [35]:
# tsv 파일을 로드
# read_csv() 함수를 이용
# 상대경로
# 현재 경로(./) -> 상위 디렉토리(../) -> 하위 csv 디렉토리 이동(csv/) -> 하위 num_1 디렉토리 이동(num_1/) -> chipotle.csv
df3 = pd.read_csv(
    "./../csv/num_1/chipotle.tsv", sep ='\t'
)

In [36]:
# csv 폴더 안에 있는 2021 폴더에서 json 데이터 로드
# read_json() 함수 이용
# 현재 경로(./) -> 상위 디렉토리 이동(../) -> 하위 csv 디렉토리로 이동(csv/) -> 하위 2021 디렉토리 이동 -> 202101_xxxx.josn

df4 = pd.read_json(
    "./../csv/2021/202101_expense_list.json"
)

In [38]:
df4.head(1)

,nid,title,url,dept_nm_lvl_1,dept_nm_lvl_2,dept_nm_lvl_3,dept_nm_lvl_4,dept_nm_lvl_5,exec_yr,exec_month,...,expense_execution,category,dept_nm_full,exec_dt,exec_loc,exec_purpose,target_nm,payment_method,exec_amount,bimok
0,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,,,2021,1,...,NaN,,중랑물재생센터 관리과,2021-01-25 00:00,,소속직원 경조사비,"김광옥, 김용성",현금,100000,None

In [41]:
# 같은 경로에 있는 xml 파일을 로드
df5 = pd.read_xml(
    "./../csv/2021/202101_expense_list.xml"
)

In [ ]:
# !pip install lxml

Collecting lxml
  Downloading lxml-6.0.1-cp313-cp313-win_amd64.whl.metadata (3.9 kB)
Downloading lxml-6.0.1-cp313-cp313-win_amd64.whl (4.0 MB)
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 4.0/4.0 MB 31.4 MB/s  0:00:00
Installing collected packages: lxml
Successfully installed lxml-6.0.1

In [46]:
# 같은 경로에 있는 excel 파일을 로드
df6 = pd.read_excel(
    "./../csv/2021/202101_expense_list.xlsx"
)

In [48]:
df6

,nid,title,url,dept_nm_lvl_1,dept_nm_lvl_2,dept_nm_lvl_3,dept_nm_lvl_4,dept_nm_lvl_5,exec_yr,exec_month,...,expense_execution,category,dept_nm_full,exec_dt,exec_loc,exec_purpose,target_nm,payment_method,exec_amount,bimok
0,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,NaN,NaN,2021,1,...,NaN,NaN,중랑물재생센터 관리과,2021-01-25 00:00,NaN,소속직원 경조사비,"김광옥, 김용성",현금,100000,NaN
1,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,NaN,NaN,2021,1,...,NaN,NaN,중랑물재생센터 운영과,2021-01-22 00:00,복시루,운영과 다과구매-전출직원선물,NaN,카드,90000,NaN
2,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,NaN,NaN,2021,1,...,NaN,NaN,중랑물재생센터 시설보수과,2021-01-21 00:00,떡시루,소속직원 송별떡,시설보수과장외 27명,카드,80000,NaN
3,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,NaN,NaN,2021,1,...,NaN,NaN,중랑물재생센터 운영과,2021-01-21 00:00,서울시청매점,운영과 다과구매-전출직원선물,NaN,제로페이,48000,NaN
4,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,NaN,NaN,2021,1,...,NaN,NaN,중랑물재생센터 운영과,2021-01-21 00:00,복시루,운영과 다과구매-전출직원선물,NaN,카드,75000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4873,22241154,2021년 1월 서울시본청 주택건축본부 지역건축안전센터 업무추진비 - 시책추진,http://opengov.seoul.go.kr/public/22241154,서울시본청,주택건축본부,지역건축안전센터,NaN,NaN,2021,1,...,NaN,NaN,주택건축본부 지역건축안전센터,2021-01-06 12:33,곰비임비(중구 세종대로11길 45),중소형 민간건축공사장 안전대책 관련 간담회 비용 지급,지역건축안전센터장 외 2명,제로페이,35000,NaN
4874,22241154,2021년 1월 서울시본청 주택건축본부 지역건축안전센터 업무추진비 - 시책추진,http://opengov.seoul.go.kr/public/22241154,서울시본청,주택건축본부,지역건축안전센터,NaN,NaN,2021,1,...,NaN,NaN,주택건축본부 지역건축안전센터,2021-01-05 18:25,본죽&비빔밥(중구 세종대로 80),소규모 노후 건축물 안전점검 관련 간담회 비용 지급,지역건축안전센터장 외 2명,제로페이,21000,NaN
4875,22241154,2021년 1월 서울시본청 주택건축본부 지역건축안전센터 업무추진비 - 시책추진,http://opengov.seoul.go.kr/public/22241154,서울시본청,주택건축본부,지역건축안전센터,NaN,NaN,2021,1,...,NaN,NaN,주택건축본부 지역건축안전센터,2021-01-04 12:35,크레이지후라이(중구 서소문로 124),겨울방학 아르바이트 대학생 격려 간담회 비용 지급,지역건축안전센터장 외 2명,제로페이,40000,NaN
4876,22241159,2021년 1월 사업소 상수도사업본부 중부수도사업소 요금과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/22241159,사업소,상수도사업본부,중부수도사업소,요금과,NaN,2021,1,...,NaN,NaN,중부수도 요금과,2021-01-27 15:19,가메골에프엔비㈜(중구 남대문시장4길 42),부서 직원 교육 및 신년간담회,요금과 직원 20명,카드,64000,NaN
4877,22241159,2021년 1월 사업소 상수도사업본부 중부수도사업소 요금과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/22241159,사업소,상수도사업본부,중부수도사업소,요금과,NaN,2021,1,...,NaN,NaN,중부수도 요금과,2021-01-22 00:00,추어탕(중구 다산로 75 3층),간부 신년간담회,소장외 3명,카드,36000,NaN

In [ ]:
# !pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [53]:
# data 파일에서 한글때문에 에러가 발생하는 경우
# csv 폴더 안에 '주민등록.csv'파일을 로드
# 현재 경로("./") -> 상위 디렉토리 이동(../) -> 하위 csv 디렉토리 이동(csv/) -> 주민등록.csv
df7 = pd.read_csv(
    "./../csv/주민등록.csv",
    encoding="cp949"
)

In [ ]:
df7

,자치구코드(atdrc_code_se),자치구명(atdrc_nm),년월(년월),총인구수(tot_popltn_co),세대수(tot_hshld_co),세대당인구(hshld_popltn_avrg_co),남자인구수(male_popltn_co),여자인구수(female_popltn_co),적재일시(ldadng_dt)
0,금천구,11110,201907,228755,171426,2.44,319062,118352,2018-01-05 16:52:25
1,서대문구,11290,201607,153780,186744,2.12,75614,116393,2018-12-05 10:20:57
2,양천구,11740,201804,594315,61091,2.22,192817,307237,2020-11-03 10:50:11
3,은평구,11200,202004,345156,168865,2.13,229690,204108,2018-01-05 16:52:25
4,마포구,11260,201902,394788,168482,2.52,61714,146951,2018-01-05 16:52:25
5,도봉구,11350,201704,150732,61069,2.39,60735,199831,2018-01-05 16:52:25
6,강북구,11410,202008,404501,174263,2.25,184053,172995,2018-01-05 16:52:25
7,용산구,11620,201407,433658,173943,1.85,252383,198754,2018-01-05 16:52:25
8,관악구,11140,201710,308087,180747,2.01,192923,245902,2021-01-21 15:43:29
9,동대문구,11470,201806,447667,162606,2.49,215440,64221,2020-07-22 20:11:55
10,양천구,11200,201504,559697,109708,2.36,237588,75262,2019-04-22 14:53:02
11,광진구,11260,201704,379339,126579,2.34,110605,174332,2018-01-05 16:52:25
12,관악구,11440,201906,431423,177247,2.65,233214,192414,2018-01-05 16:52:25
13,서초구,11500,201712,234627,144805,2.46,172446,332802,2019-09-05 14:06:33
14,강남구,11380,201712,451253,63851,2.62,320480,177158,2021-06-21 11:02:17
15,강남구,11305,201904,542576,173142,2.54,60139,243251,2020-11-03 10:50:11
16,종로구,11470,201505,442119,248840,2.19,157312,61327,2019-04-22 14:53:02
17,광진구,11350,202001,226161,159500,2.08,232838,158869,2019-03-11 09:30:24
18,구로구,11410,201504,126270,172505,2.26,74025,284150,2019-08-05 09:45:14
19,노원구,11170,201412,233017,243049,2.40,117497,298131,2020-11-03 10:50:11
20,중랑구,11470,201807,421579,133458,1.99,206423,182741,2018-01-05 16:52:25
21,도봉구,11380,201408,483473,167301,2.03,225186,204424,2020-07-22 20:11:55
22,성동구,11545,201805,300410,269220,2.64,74662,197070,2018-12-05 10:20:57
23,구로구,11320,201505,305785,136393,2.62,187960,177515,2019-03-11 09:30:24
24,서초구,11440,201704,405271,135147,2.11,150937,148298,2018-11-05 09:53:36
25,강서구,11410,201712,378199,185610,2.46,157743,78354,2018-01-05 16:52:25
26,금천구,11440,202007,218929,259692,2.34,255912,285095,2018-01-05 16:52:25
27,노원구,11710,201409,373252,138984,2.23,258407,204359,2018-01-05 16:52:25
28,은평구,11170,201404,149524,229712,2.57,167155,162829,2018-01-05 16:52:25
29,노원구,11680,201708,478019,100534,2.18,278171,61187,2018-01-05 16:52:25

#### 결측치
- 데이터프레임에서 특정 부분에 데이터가 존재하지 않는 경우
- NaN 표시